.container-fluid {
    background-color: #FFF;
    margin-top: 50px;
    padding: 25px;
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aaa;
}         

.football {
    border: 2px solid green;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 0.4 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;a
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white !important;
}