<!doctype html>
<html>
	<head>
		<title>DATA</title>
		<!-- Add this to <head> -->
		<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
		<link rel="stylesheet" href="(( url_for('static',filename='styles/throstatz.css') ))" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	</head>
	<body>
	<div id="app">
		<b-navbar toggable variant="light" type="light">
    		<b-navbar-brand tag="h1" class="mb-0"><a href="/">ThroStatz</a></b-navbar-brand>
    		<b-navbar-brand tag="h1" class="mb-0">CSV ID: <u>(( uuid|string() ))</u></b-navbar-brand>
  		</b-navbar>
		<script> var index = 1; </script>
		<b-container fluid>
			{% for set in data %}
				<b-row>
					<b-col sm="auto"><h2>Trial <script type="">document.write(index);</script></h2></b-col>
				</b-row>
				<b-row>
					<b-col class="football">
						<b-img fluid src="((url_for('static', filename='football_field.png')))" id="field"></b-img>
					</b-col>
					<b-col xl="auto">
						<table border="1">
				            {% for key,value in set.items() %}
				            	{% if key.strip() != 'release' and key.strip() != 'windup' %}
									{% if key.strip() == 'Angle' %}
	               						<tr>
	           								<th> (( key )) </th>
	           								<td> (( value ))° </td>
        								</tr>
	               					{% endif %}
									{% if key.strip() == 'Velocity of Throw' %}
	               						<tr>
											<th> (( key )) </th>
											<td> (( value )) mph</td>
        								</tr>
									{% endif %}
									{% if key.strip() == 'Time of Flight' or key.strip() == 'Time of Windup' %}
										<tr>
											<th> (( key )) </th>
											<td> (( value )) s</td>
										</tr>
									{% endif %}
									{% if key.strip() == 'Distance Travelled' or key.strip() == 'Maximum Height' %}
										<tr>
											<th> (( key )) </th>
											<td> (( value )) yd</td>
										</tr>
									{% endif %}
				               	{% endif %}
				            {% endfor %}
			        	</table>
		        	</b-col>
	        	</b-row>
	        	<br>
	        	<script>index++;</script>
	        {% endfor %}
    	</b-container>
    </div>
	</body>
	<!-- Add this after vue.js -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
	<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
	<script src="(( url_for('static', filename='js/curved_arrow.js') ))" type="text/javascript"></script>

	<script>
		function drawArrow(img, data, f)
		{
			var width = img.clientWidth;
			var height = img.clientHeight;
			var rect = img.getBoundingClientRect();

			var point_y = rect.top + (height/2.0);
			var goaline_x = rect.left + (width/9.0);
			var opp_goaline_x = rect.left + (width/1.15);

			var distance = parseFloat(data['Distance Travelled']);
			var height = parseFloat(data['Maximum Height']);
			var ratio = (opp_goaline_x-goaline_x)/100;//0.0785;
			var aspect = distance*ratio;

			var end_x = goaline_x + aspect;

			var apex_x = (goaline_x+end_x)/2.0
			var apex_y = (point_y-75-(15*height) )

            $(document.body).curvedArrow({
                p0x: goaline_x,
                p0y: point_y,
                p1x: apex_x,
                p1y: apex_y,
                p2x: end_x,
                p2y: point_y
            });
		}

		var app = new Vue({
			el: "#app"
		});

		

		setTimeout(function() {
			var images = document.getElementsByTagName('img');

			for(var i = 0; i < images.length; i++) 
			{
				var image = images[i];
				
				var new_data = (( data | safe ))
				drawArrow(image, new_data[i], i);
			}

		}, 100);



		

	</script>
</html>