<!doctype html>
<html>
	<head>
		<title>DATA</title>
		<!-- Add this to <head> -->
		<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/throstatz.css') }}" type="text/css">
	</head>
	<body>
	<div id="app">
		<b-navbar toggable variant="light" type="light">
    		<b-navbar-brand tag="h1" class="mb-0">ThroStatz</b-navbar-brand>
    		<b-navbar-brand tag="h1" class="mb-0">CSV ID: <u>{{ uuid|string() }}</u></b-navbar-brand>
  		</b-navbar>
		<script> var index = 1; </script>
		<b-container fluid>
			{% for set in data %}
				<b-row>
					<b-col sm="auto"><h2>Trial <script type="">document.write(index);</script></h2></b-col>
				</b-row>
				<b-row>
					<canvas>
						<b-col class="football"><b-img fluid src="{{url_for('static', filename='football_field.png')}}"></b-img></b-col>
					</canvas>
					<b-col xl="auto">
						<table border="1">
				            {% for key,value in set.items() %}
				            	{% if key.strip() != 'release' and key.strip() != 'windup' %}
									{% if key.strip() == 'Angle' %}
	               						<tr>
           								<th> {{ key }} </th>
           								<td> {{ value }}° </td>
        								</tr>
	               					{% endif %}
									{% if key.strip() == 'Velocity of Throw' %}
	               						<tr>
										<th> {{ key }} </th>
										<td> {{ value }} mph</td>
        								</tr>
									{% endif %}
									{% if key.strip() == 'Time of Flight' or key.strip() == 'Time of Windup' %}
										<tr>
											<th> {{ key }} </th>
											<td> {{ value }} s</td>
										</tr>
									{% endif %}
									{% if key.strip() == 'Distance Travelled' or key.strip() == 'Maximum Height' %}
										<tr>
											<th> {{ key }} </th>
											<td> {{ value }} ft</td>
										</tr>
									{% endif %}
				               	{% endif %}
				            {% endfor %}
			        	</table>
		        	</b-col>
	        	</b-row>
	        	<br>
	        	<script>index++;</script>
	        {% endfor %}
    	</b-container>
    </div>
	</body>
	<!-- Add this after vue.js -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
	<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

	<script>
		var app = new Vue({
			el: "#app"
		});
	</script>
</html>